
.title {
    font-size: 3.7em;
    fill: #206cc9;
}


.axis-label {
    font-size: 5em;
    fill: #206cc9;
}

text {
    font-size: 6em;
    font-family: sans-serif;
}

.tick text {
    font-size: 6em;
    fill: #211821;
}

.tick line {
    stroke: #211821;
}

